In [56]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
from create_nfl_database import NflSeason, NflTeam, NflWeek, Position, Player, PlayerStats
from sqlalchemy.orm import relationship, backref
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup




engine = create_engine('sqlite:///nfl_fantasy.db')

In [9]:
Base.metadata.bind = engine

In [10]:
DBSession = sessionmaker(bind=engine)
session = DBSession()

In [52]:
season= ['2102', '2013','2014', '2015','2016']
week = [1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17]

positions = ['qb','wr','te', 'rb','k','def']
teams = [('Arizona','Phoenix','Arizona Cardinals'), ('California','Los Angeles', 'Los Angeles Rams'),
         ('California', 'Los Angeles', 'Los Angeles Chargers'), ( 'California' ,'Oakland', 'Oakland Raiders'),
         ('California','San Francisco', 'San Francisco 49ers'), ('Colorado', 'Denver', 'Denver Broncos'),
         ('Florida','Jacksonville', 'Jacksonville Jaguars'),('Florida','Miami', 'Miami Dolphins'),
         ('FLorida','Tampa Bay', 'Tampa Bay Buccaneers'), ('Georgia', 'Atlanta','Atlanta Falcons'),
         ('Illinois', 'Chicago', 'Chicago Bears'), ('Indiana', 'Indiana','Indianapolis Colts'), 
         ('Louisiana', 'New Orleans', 'New Orleans Saints'), ('Maryland', 'Baltimore','Baltimore Ravens'),
         ('Wasington D.C.', 'Washington D.C.','Washington Redskins'),('Massachusetts', 'FoxBorough','New England Patriots'),
         ('Michigan', 'Detroit', 'Detroit Lions'), ('Minnesota', 'Minneapolis', 'Minnesota Vikings'),
         ('Missouri', 'Kansas City','Kansas City Chiefs'), ('New Jersey', 'Meadowlands','New York Giants'),
         ('New Jersey', 'Meadowlands','New York Jets'), ('New York', 'Buffalo','Buffalo Bills'),
         ('North Carolina', 'North Carolina','Carolina Panthers'), ('Ohio', 'Cincinatti','Cincinnati Bengals'),
         ('Ohio', 'Cleveland','Cleveland Browns'),('Pennsylvania', 'Philadelphia','Philadelphia Eagles'),
         ('Pennsylvania', 'Pittsburgh', 'Pittsburgh Steelers'),('Tennessee', 'Memphis','Tennessee Titans'),
         ('Texas', 'Dallas','Dallas Cowboys'), ('Texaas', 'Houston','Houston Texans'),
         ('Washington','Seattle','Seattle Seahawks'), ('Wisconsin', 'Green Bay', 'Green Bay Packers')]

In [29]:
#Populate nfl_season SQL table
for sea in season:
    new_season = NflSeason(season=sea)
    session.add(new_season)
    session.commit()

In [30]:
#Populate nfl_week table
for wk in week:
    new_week = NflWeek(week=wk)
    session.add(new_week)
    session.commit()

In [49]:
#Populate nfl_team table
for st, ct, team in teams:
        new_team = NflTeam(city=ct, state=st, team_name=team )
        session.add(new_team)
        session.commit()

In [54]:
#populate nfl_positions table
for pos in positions:
    new_pos = Position(position=pos)
    session.add(new_pos)
    session.commit()

In [55]:
SQL_QUERY = '''
        SELECT * 
        FROM Position'''
pd.read_sql(SQL_QUERY, con =engine)

   id position season_id
0   1       qb      None
1   2       wr      None
2   3       te      None
3   4       rb      None
4   5        k      None
5   6      def      None

In [51]:
SQL_QUERY = '''
        SELECT * 
        FROM nfl_team'''
pd.read_sql(SQL_QUERY, con =engine)

    id             city           state             team_name
0    1          Phoenix         Arizona     Arizona Cardinals
1    2      Los Angeles      California      Los Angeles Rams
2    3      Los Angeles      California  Los Angeles Chargers
3    4          Oakland      California       Oakland Raiders
4    5    San Francisco      California   San Francisco 49ers
5    6           Denver        Colorado        Denver Broncos
6    7     Jacksonville         Florida  Jacksonville Jaguars
7    8            Miami         Florida        Miami Dolphins
8    9        Tampa Bay         FLorida  Tampa Bay Buccaneers
9   10          Atlanta         Georgia       Atlanta Falcons
10  11          Chicago        Illinois         Chicago Bears
11  12          Indiana         Indiana    Indianapolis Colts
12  13      New Orleans       Louisiana    New Orleans Saints
13  14        Baltimore        Maryland      Baltimore Ravens
14  15  Washington D.C.  Wasington D.C.   Washington Redskins
15  16       FoxBorough   Massachusetts  New England Patriots
16  17          Detroit        Michigan         Detroit Lions
17  18      Minneapolis       Minnesota     Minnesota Vikings
18  19      Kansas City        Missouri    Kansas City Chiefs
19  20      Meadowlands      New Jersey       New York Giants
20  21      Meadowlands      New Jersey         New York Jets
21  22          Buffalo        New York         Buffalo Bills
22  23   North Carolina  North Carolina     Carolina Panthers
23  24       Cincinatti            Ohio    Cincinnati Bengals
24  25        Cleveland            Ohio      Cleveland Browns
25  26     Philadelphia    Pennsylvania   Philadelphia Eagles
26  27       Pittsburgh    Pennsylvania   Pittsburgh Steelers
27  28          Memphis       Tennessee      Tennessee Titans
28  29           Dallas           Texas        Dallas Cowboys
29  30          Houston          Texaas        Houston Texans
30  31          Seattle      Washington      Seattle Seahawks
31  32        Green Bay       Wisconsin     Green Bay Packers